/StringConverter/nbproject/private/
/StringConverter/build/
/StringConverter/dist/
/WarhammerPlayerSheet/nbproject/private/
/WarhammerPlayerSheet/build/
/PhoneNumber/nbproject/private/
/PhoneNumber/build/
/ZaliczeniePodstawyProgramowania/nbproject/private/
/ZaliczeniePodstawyProgramowania/build/
/SystemTimer/nbproject/private/
/SystemTimer/build/
/SystemTimer/dist/
/Sorting_WSB/nbproject/private/
/Sorting_WSB/build/
/Sorting_WSB/dist/
/cZESCwSPOLNA/nbproject/private/
/CzescWspolna/nbproject/private/
/CzescWspolna/build/
/Algorytmy2/nbproject/private/
/Algorytmy2/build/