/StringConverter/nbproject/private/
/StringConverter/build/
/StringConverter/dist/
/WarhammerPlayerSheet/nbproject/private/
/WarhammerPlayerSheet/build/
/PhoneNumber/nbproject/private/
/PhoneNumber/build/
/ZaliczeniePodstawyProgramowania/nbproject/private/
/ZaliczeniePodstawyProgramowania/build/